---
require:
  - bin/command.php
core download:
  {{#locale}}
  locale: {{locale}}
  {{/locale}}
  force: true
config create:
  dbname: {{slug}}
  dbuser: root
  dbpass:
  force: true
  skip-check: true
  extra-php: |
    define( 'WP_DEBUG', true );
install:
  env: @stag
  plugins:
    -
  themes:
    -
scripts:
	local-config: wp touch wp-cli.local.yml
	set-env: wp cli alias add @stag --prompt=set-ssh --config=project
	db-get: wp @stag db export --url-old=http?://example.com --url-new=http://example.test --archived=xz --get
	install:
		- @local-config
		- @set-env
		- @db-get

